@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


:root{
    --body-color:#E4E9F7;
    --navbar-color: #FFF;
    --primary-color:    #003399;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color: #707070;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--navbar-color);
    float: left;
}

.navbar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.navbar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li .icon{
    display: flex;
    min-width: 35px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
   
}

.navbar li .icon,
.navbar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
    float: left;
    padding-top:14px;
    margin-left: 25px;
}

.navbar header{
    position: relative;
}

.navbar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.navbar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}


.navbar .search-box{
    background: var(--primary-color-light);
}

.navbar .search-box input{
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 140px;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.navbar .menu-text{
    margin-left: 20px;
    color: grey;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 550;
}

.navbar li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.navbar li a:hover{
    background-color: var(--primary-color);
}

.navbar li a:hover .icon,
.navbar li a:hover .text{
    color:var(--body-color);;
    
}

.navbar .bottom-content{
    margin-top: 50px;
}

.container{
    width: 1269px;
    height: 100%;
    margin-left: 250px;
}

.container .country{
    height: 120px;
    white-space: nowrap;
    overflow-x: auto;
    border: 1px solid black;
    display: flex;
    width: 100%;
}

.container .country .country-box{
    flex-shrink: 0;
    width: 130px;
    height: 90px;
    margin-left: 10px;
    margin-top: 3.5px;
    text-align: center; /* Center the contents horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    margin-right: 5px;
}

.container .country .country-box button{
    cursor: pointer;
}

.container .country img{
    width: 120px;
    height: 65px;
    margin-left: 1px;
    margin-top: 1px;
}
.container .country p{
    margin-top: 3px;
    font-size: 13px;
    font-weight: 600;
}

.container .schedule{
    height: 240px;
    white-space: nowrap;
    overflow-x: auto;
    border: 1px solid black;
    display: flex;
    width: 100%;
    margin-top: 20px;
    background-color: #003399;
}

.container .schedule .schedule-box{
    flex-shrink: 0;
    width: 600px;
    height: 160px;
    margin-left: 15px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 5px;
    background-color: var(--body-color);
    border-radius: 10px;
    align-items: center; /* Center the content vertically */
    justify-content: center;
}


.container .schedule .league{
    margin-right:475px;
    float: left;
    margin-top: 5px;
    font-weight: bold;
}

.container .schedule .stadium{
    margin-left: 420px;
    float: left;
    margin-top: -20px;
    font-weight: bold;
}

.container .schedule .title{
    margin-top: 10px;
    font-weight: bold;
}

.container .schedule .imageA{
    width: 45px;
    height: 25px;
    margin-right: 180px;
    margin-top: 10px;
}

.container .schedule .imageB{
    width: 45px;
    height: 25px;
    margin-left: 180px;
    margin-top: -25px;
}

.container .schedule .time-box{
    width: 90px;
    height: 35px;
    border: 1px solid sandybrown;
    float: left;
    margin-top: -30px;
    border-radius: 8px;
}

.container .schedule .time-box p{
    margin-left: 13px;
    margin-top: 8px;
}

.container .schedule .date{
    margin-top: 10px;
}


.container .data{
    width: 100px;
    height: 90px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}



.container .data button{
    background-color: white;
    color: black;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid black;
}

.container .data button:hover{
    background-color: var(--primary-color);
    color: var(--body-color);
}

.container .news{
    margin-top: 60px;
    width: 100%;
    height: 350px;
}

.container .news h2{
    margin-left: 10px;
}

.container .news .news-box{
    width: 380px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    float: left;
    margin-left: 30px;
    margin-top:20px;
}

.container .news img{
    width: 380px;
    height: 210px;
}

.container .news p{
    margin-top: 8px;
}


.container .videos{
    margin-top: 60px;
}


.container .videos h2{
    margin-left: 10px;
}

.container .videos a{
    color: black;
}

.container .videos a:hover{
    color: gray;
}


.container .videos .video-box{
    width: 351px;
    height: 270px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    float: left;
    margin-left: 40px;
    margin-top:20px;
    position: relative;
}

.container .videos .video-box .live-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    z-index: 1;
}

.container .videos iFrame{
    width: 350px;
    height: 210px;
}

.container .videos p{
    margin-top: 8px;
}


