@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


:root{
    --body-color:#E4E9F7;
    --navbar-color: #FFF;
    --primary-color:    #003399;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color: #707070;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--navbar-color);
    float: left;
}

.navbar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.navbar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar li .icon{
    display: flex;
    min-width: 35px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
   
}

.navbar li .icon,
.navbar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
    float: left;
    padding-top:14px;
    margin-left: 25px;
}

.navbar header{
    position: relative;
}

.navbar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.navbar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}


.navbar .search-box{
    background: var(--primary-color-light);
}

.navbar .search-box input{
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 140px;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.navbar .menu-text{
    margin-left: 20px;
    color: grey;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 550;
}

.navbar li a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.navbar li a:hover{
    background-color: var(--primary-color);
}

.navbar li a:hover .icon,
.navbar li a:hover .text{
    color:white;
    
}

.navbar .bottom-content{
    margin-top: 50px;
}

.container{
    width: 1250px;
    min-height: 100vh;
    margin-left: 250px;
}

.container .name img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 525px;
    align-items: center;
}

.container .name p{
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

.container h2{
    margin-top: 50px;
    margin-left: 200px;
}

.container .email h4{
    margin-top: 20px;
    margin-left: 200px;
}

.container .email p{
    margin-top: 10px;
    margin-left: 200px;
}

.container .country h4{
    margin-top: -50px;
    margin-left: 700px;
}

.container .country p{
    margin-top: 10px;
    margin-left: 700px;
}

.container .number h4{
    margin-top: 40px;
    margin-left: 200px;
}

.container .number p{
    margin-top: 10px;
    margin-left: 200px;
}


